{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-collection.css' | asset_url | stylesheet_tag }}

{%- if section.settings.heading != blank -%}
  <div class="section-{{ section.id }}-padding">
    <div class="page-width">
      <h2 class="title {{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
      
      {%- assign related_products = product.related_products | default: collection.products -%}
      
      {%- if related_products.size > 0 -%}
        <ul class="grid product-grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down" role="list">
          {%- for related_product in related_products limit: section.settings.products_to_show -%}
            {%- if related_product.id != product.id -%}
              <li class="grid__item">
                {% render 'card-product',
                  card_product: related_product,
                  media_aspect_ratio: section.settings.image_ratio,
                  show_secondary_image: section.settings.show_secondary_image,
                  show_vendor: section.settings.show_vendor,
                  show_rating: section.settings.show_rating
                %}
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      {%- else -%}
        <p class="collection__empty-text">{{ 'sections.related_products.no_products' | t }}</p>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.related_products.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "You may also like",
      "label": "t:sections.related_products.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.related_products.settings.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.related_products.settings.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.related_products.settings.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.related_products.settings.heading_size.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "t:sections.related_products.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.related_products.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.related_products.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.related_products.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.related_products.settings.image_ratio.options__3.label"
        }
      ],
      "default": "square",
      "label": "t:sections.related_products.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "t:sections.related_products.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.related_products.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.related_products.settings.show_rating.label"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.related_products.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.related_products.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.related_products.settings.columns_mobile.options__2.label"
        }
      ]
    }
  ],
  "translations": true
}
{% endschema %}